<html>
  <head>
    <title>Styleguide</title>
    <style type="text/css" media="screen">
      .-styleguide-navigation {
        border-bottom: 1px solid grey;
        font-family: "Comic Sans", "Marker Felt";
      }
      .-styleguide-navigation .-styleguide-navigation-list {
        list-style-type: none;
        margin: 0; 
        padding: 0 2em;
      }
      .-styleguide-navigation .-styleguide-navigation-list li {
        display: inline-block;
        padding: 5px;
      }
    </style>
    <%= render :partial => 'styleguide/head' %>
    <%= yield :head %>
  </head>
  <body>
    <div class="-styleguide-navigation">
      <ul class="-styleguide-navigation-list">
        <li><%= link_to_unless_current "Home", url_for(:controller => 'styleguide/pages', :action => 'index') %>
        <%- @pages.each do |page| -%>
          <li><%= link_to_unless_current page, url_for(:controller => 'styleguide/pages', :action => 'page', :page => page) %></li>
        <%- end -%>
      </ul>
    </div>
    <%= yield %>
  </body>

</html>